 <!-- Brand Logo -->
<a href="index3.html" class="brand-link">
    <img src="/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">CarWare</span>
</a>

<!-- Sidebar -->
<div class="sidebar">


    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item has-treeview menu">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-folder"></i>
                    <p>
                        Vehicles
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a asp-action="Inventory" asp-controller="Car" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>View Inventory</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Create" asp-controller="Car" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add new Vehicle</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="SoldVehicles" asp-controller="Car" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>View Sold Vehicle</p>
                        </a>
                    </li>
                </ul>
            </li>


            <li class="nav-item has-treeview menu">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-clipboard-list"></i>
                    <p>
                        Customer
                        <i class="right fas fa-angle-left"></i>

                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/customer" class="nav-link hover-">
                            <i class="far fa-circle nav-icon"></i>
                            <p>View customers</p>
                        </a>
                    </li>
                </ul>
            </li>


            <li class="nav-item has-treeview menu">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-clipboard-list"></i>
                    <p>
                        User Management
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/usermanagement" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>View Employees</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/Usersadmin" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Employee</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
