@model Carware.ViewModels.InventoryViewModel
@foreach (var car in Model.Inventory)
{
    <div class="card overflow-hidden" style="width: 20rem;">
        <div class="card-img-top"><img class="img-fluid" src="/img/Car.png" alt="Card image cap" /></div>
        <div class="card-body">
            <h5 class="card-title">@car.Make @car.Model</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Year-@car.Year</li>
            <li class="list-group-item">Price-@car.IdealSellingPrice</li>
            <li class="list-group-item">Max discount-@car.MaxDiscount</li>
        </ul>
        <div class="card-body"><a class="card-link" href="#!">Start Sale</a></div>
    </div>
}